<%- include('header') -%>
<ul class="nav nav-pills">
    <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
    <li class="nav-item"><a href="/blog/compose" class="nav-link active">Compose</a></li>
    <li class="nav-item"><a href="/auth/login" class="nav-link">Switch Account</a></li>
  </ul>
</header>
    <main class="container_green">
        <h1>Compose Your Blog!</h1>
        <form class="regis_login" method="post" action="" enctype="multipart/form-data">

            <div class="field">
                <label for="title" id="title_label">Title</label>
                <input type="text" id="title" name="title" required>
            </div>
            <div class="field">
                <label for="content" class="compose">Content</label>
                <textarea rows="5" cols="50" id="content" name="content" required></textarea>
            </div>
            <div class="field">
                <label for="image" class="compose">Image (Optional)</label>
                <input type="file" id="image" name="image">
            </div>
            <input type="hidden" name="user" value="<%= id %>">
            <button id="bc" type="submit">Submit</button>
        </form>
    </main>
</body>
</html>