<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fun Blog</title>
</head>
<body>
    <h1>Email Successfully Verified</h1>
    <h2>You may Proceed to Login!</h2>
    <a href="/auth/login">Login</a>
</body>
</html>
