<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fun Blog</title>
</head>
<body>
    <h1>Reset Your Password</h1>
    <form method="post" action="/auth/provide_password">
        <div class="field">
            <label for="newpassword">New Password</label>
            <input type="password" name="newpassword" required>
            <input type="hidden" name="token" value="<%= token %>">
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>