<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fun Blog</title>
</head>
<body>
    <h1>Reset Your Password</h1>
    <% if (exist===false){ %>
        <h2>Email Isn't Registered</h2>
        <a href="register">Register</a>
    <% } %>
    <form method="post" action="/auth/reset_password">
        <div class="field">
            <label for="email">Email</label>
            <input type="email" name="email" required>
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>